<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Searcher</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="wrapper">
        <h1 class="headline">Search Images in Twitter</h1>
        <div class="search-container">
            <form action="/images" method="post">
            <!-- <label for="search">Find Images by tags, or Username</label> -->
            <input class="search-text" type="text" name="search" id="searchBtn">
            <div class="btn-wrapper">
            <input class="btn" type="submit" value="Search">
            <form action="/revert">
                <input class="btn" type="submit" value="Home">
            </form>
        </div>
        </form>
        </div>
    </div>
    <div class="image-wrapper">
        <% if (locals.media ) {%>
        <% media.forEach(el => { %>
        <!-- <p><%= el.media_key%></p> -->
        <% if(el.type == 'photo') {%>
        <a href="<%=  el.url %>"><img class="image" src="<%=  el.url %>" alt="" srcset=""></a>

        <%  } %>
        <% }) %>
        <% }else { %>
        <p>No Items to display </p>
        <% } %>
    </div>
</body>

</html>